# Hybrid install set while migration finishes.
# Uses Noma-Travel repos where available and local workspace fallbacks
# for repos not created yet in Noma-Travel.
# Usage: pip install -r requirements-noma-travel.txt

git+https://github.com/Noma-Travel/renglo-lib.git@main_noma#egg=renglo-lib
git+https://github.com/Noma-Travel/renglo-api.git@main#egg=renglo-api
../extensions/noma/package
../extensions/pes/package
git+https://github.com/Noma-Travel/pes_noma.git@main#egg=pes-noma-mod&subdirectory=package

